<!-- Common part of HTML for edit and create an article -->
<div class="form-group mb-2">
  <label for="title">Title</label>
  <input
    type="text"
    id="title"
    class="form-control"
    name="title"
    required
    value="<%= article.title %>"
  />
</div>
<div class="form-group mb-2">
  <label for="description">Description</label>
  <textarea
    id="description"
    class="form-control"
    name="description"
  ><%= article.description %></textarea>
</div>
<div class="form-group mb-4">
  <label for="markdown">Markdown</label>
  <textarea
    id="markdown"
    class="form-control"
    name="markdown"
    required
  ><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
